<main         class="relative overflow-hidden">
  <div class="relative w-full">
    <div
      class="animate-marquee whitespace-nowrap gap-4 flex mt-64 lg:mt-96 items-baseline">
      <h1
        class="font-normal tracking-tighter uppercase text-6xl lg:text-14xl pb-12">
        <span class="text-white"> About</span>
        <span class="text-grayer">flaco</span>
        <span class="text-grayest">theme</span>
      </h1>
    </div>
  </div>
</main>
<section>
  <div class="px-8 py-12">
    <div>
      <div
        class="mx-auto mt-12 hover:prose-a:text-black prose lg:prose-xl prose-a:text-accent-500 prose-blockquote:text-gray-500 prose-code:text-black prose-headings:font-bold prose-headings:text-black prose-headings:tracking-tighter text-gray prose-strong:text-white">
        <p>
          Hello, and welcome to my website! My name is Flaco Theme, and I'm a
          full stack web developer with over 10 years of experience. I
          specialize in building custom web applications using a variety of
          programming languages and frameworks, and I have a passion for
          creating elegant, user-friendly interfaces that are both beautiful and
          functional.
        </p>
        <p>
          My journey as a web developer began in college, where I studied
          computer science and fell in love with the power of programming. After
          graduating, I spent several years working for various software
          development companies, where I honed my skills in front-end and
          back-end development, database management, and server-side scripting.
        </p>
        <p>
          In 2015, I decided to strike out on my own and start my own web
          development firm. Since then, I've had the pleasure of working with a
          diverse range of clients from around the world, helping them bring
          their digital dreams to life with beautiful, customized web solutions.
        </p>
        <p>
          My approach to web development is simple: I believe in putting the
          user first, and creating interfaces that are intuitive, easy to use,
          and visually appealing. I work closely with my clients to understand
          their unique needs and goals, and I'm always striving to stay on the
          cutting edge of the latest web technologies and trends.
        </p>
        <p>
          In my free time, you can usually find me tinkering with code,
          exploring new programming languages and frameworks, or taking long
          walks with my dog. I'm also an avid reader, and I love to learn about
          new topics and ideas.
        </p>
        <p>
          Thank you for visiting my website, and I look forward to the
          opportunity to work with you soon!
        </p>
      </div>
    </div>
  </div>
</section>
