<main         class="relative overflow-hidden">
  <div class="relative w-full">
    <div
      class="animate-marquee whitespace-nowrap gap-4 flex mt-64 lg:mt-96 items-baseline">
      <h1
        class="font-normal tracking-tighter uppercase text-6xl lg:text-14xl pb-12">
        <span class="text-white"> Drop me</span>
        <span class="text-gray">a line</span>
        <span class="text-grayest">let's work</span> together
      </h1>
    </div>
  </div>
</main>

<section>
  <div
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 px-2 lg:px-8 gap-6">
    <article>
      <section class="py-3">
        <div class="rounded-3xl overflow-hidden">
          <div class="">
            <img
              class="xl:aspect-square object-cover"
              alt="#"
              src="https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1625&q=80"
            />
          </div>
        </div>
      </section>
    </article>
    <section class="py-3">
      <div
        class="rounded-3xl overflow-hidden bg-darker h-full grid content-center p-4 lg:p-10">
        <form action="#" method="POST" class="space-y-2">
          <div class="col-span-full">
            <label class="sr-only">Name</label>
            <input
              class="block w-full appearance-none rounded-2xl border-transparent bg-darkest duration-200 py-6 text-gray focus:border-white focus:outline-none focus:ring-white sm:text-sm lg:text-xl px-6 uppercase ring-transparent placeholder:text-gray"
              placeholder="name"
              autocomplete="off"
              type="text"
            />
          </div>
          <div class="col-span-full">
            <label class="sr-only">email</label>
            <input
              class="block w-full appearance-none rounded-2xl border-transparent bg-darkest duration-200 py-6 text-gray focus:border-white focus:outline-none focus:ring-white sm:text-sm lg:text-xl px-6 uppercase ring-transparent placeholder:text-gray"
              placeholder="email"
              autocomplete="off"
              type="email"
            />
          </div>
          <div>
            <label class="sr-only">Message</label>
            <div class="mt-1">
              <textarea
                class="block w-full appearance-none rounded-2xl border-transparent bg-darkest duration-200 py-6 text-gray focus:border-white focus:outline-none focus:ring-white sm:text-sm lg:text-xl px-6 uppercase ring-transparent placeholder:text-gray"
                placeholder="message"
                rows="4"></textarea>
            </div>
          </div>
          <div>
            <button
              type="button"
              class="inline-flex items-center justify-center w-full px-4 py-6 text-2xl font-semibold text-darker bg-white rounded-2xl group focus:outline-none focus-visible:outline-2 hover:bg-gray focus-visible:outline-offset-2 hover:active:bg-grayer active:bg-white active:text-gray focus-visible:outline-gray">
              <span> Submit</span>
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
</section>
