<main         class="relative overflow-hidden">
  <div class="relative w-full">
    <div
      class="animate-marquee whitespace-nowrap gap-4 flex mt-64 lg:mt-96 items-baseline">
      <h1
        class="font-normal tracking-tighter uppercase text-6xl lg:text-14xl pb-12">
        <span class="text-white"> 404</span>
        <span class="text-gray">error</span>
        <span class="text-grayest">404</span>
        <span class="text-white"> error</span>
        <span class="text-gray">404</span>
        <span class="text-grayest">error</span>
      </h1>
    </div>
    <div class="animate-marquee whitespace-nowrap gap-4 flex items-baseline">
      <a href="/">
        <h1
          class="font-normal tracking-tighter uppercase text-6xl lg:text-14xl pb-12">
          <span class="text-white"> go home</span>
          <span class="text-gray">go home</span>
          <span class="text-grayest">go home</span>
          <span class="text-white"> go home</span>
          <span class="text-gray">go home</span>
          <span class="text-grayest">go home</span>
        </h1>
        <a> </a>
      </a>
    </div>
  </div>
</main>
