<main class="relative overflow-hidden">
  <div class="relative w-full">
    <div
      class="animate-marquee whitespace-nowrap gap-4 flex mt-64 lg:mt-96 items-baseline"
    >
      <h1
        class="font-normal tracking-tighter uppercase text-6xl lg:text-14xl pb-12"
      >
        <span class="text-white"> overview</span>
        <span class="text-gray">overview</span>
        <span class="text-grayest">overview</span> overview
      </h1>
    </div>
  </div>
</main>
<section>
  <div class="px-2 lg:px-8 w-full py-3">
    <ol
      role="list"
      class="text-white font-normal tracking-tighter grid grid-cols-1 lg:grid-cols-2 uppercase text-6xl  gap-5 lg:text-7xl"
    >
      <li>
        <a class="hover:text-gray duration-200" href="/"> home</a>
      </li>
      <li>
        <a class="hover:text-gray duration-200" href="/about">
          about
        </a>
      </li>
      <li>
        <a class="hover:text-gray duration-200" href="/contact">
          contact
        </a>
      </li>
      <li>
        <a class="hover:text-gray duration-200" href="/all-projects">
          all work
        </a>
      </li>
      <li>
        <a class="hover:text-gray duration-200" href="/case-study">
          case study
        </a>
      </li>
      <li>
        <a class="hover:text-gray duration-200" href="/404"> 404</a>
      </li>
      <li>
        <a class="hover:text-gray duration-200" href="/blog">
          Blog
        </a>
      </li>
      <li>
        <a class="hover:text-gray duration-200" href="/posts/1">
          Blog post
        </a>
      </li>
      <li>
        <a class="hover:text-gray duration-200" href="/tags">
          Tag index
        </a>
      </li>
      <li>
        <a
          class="hover:text-gray duration-200"
          href="/tags/lexington"
        >
          Tag slug
        </a>
      </li>
      <li>
        <a class="hover:text-gray duration-200" href="/rss.xml">
          rss
        </a>
      </li>
    </ol>
  </div>
</section>
