<main         class="relative overflow-hidden">
  <div class="relative w-full">
    <div
      class="animate-marquee whitespace-nowrap gap-4 flex mt-64 lg:mt-96 items-baseline">
      <h1
        class="font-normal tracking-tighter uppercase text-6xl lg:text-14xl pb-12">
        <span class="text-white"> style guide</span>
        <span class="text-gray">style guide</span>
        <span class="text-grayest">style guide</span>
      </h1>
    </div>
  </div>
</main>

<section>
  <div class="px-8 py-12 max-w-3xl mx-auto">
    <p class="text-lg font-semibold leading-6 text-white">Style guide</p>
    <p class="mt-4 text-lg tracking-tight text-gray">
      A full width entry to use as a header
    </p>

    <div class="lg:mt-32 mt-12 w-full">
      <div>
        <p class="text-gray">
          <span class="text-xl text-white">Typography</span>
          <span class="text-sm">Inter &amp; JetBrains Mono</span>
        </p>
      </div>
      <div class="mt-12">
        <div class="">
          <div class="space-y-6 py-3">
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <div><span class="text-white">Display</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span
                  class="font-normal tracking-tighter uppercase text-6xl lg:text-14xl text-white"
                  >Display</span
                >
              </div>
            </div>

            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <div><span class="text-white">H3</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span class="text-lg font-semibold leading-6 text-white"
                  >H3</span
                >
              </div>
            </div>

            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <div><span class="text-white">Link</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span
                  class="text-white uppercase lg:text-2xl inline-flex items-center group duration-200 hover:text-gray"
                  >Link text</span
                >
              </div>
            </div>

            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <div>
                <span class="text-white">Paragraph</span>
              </div>
              <div class="col-span-2 lg:col-span-3">
                <span class="text-xl text-gray"
                  >I am so happy, my dear friend, so absorbed in the exquisite
                  sense of mere tranquil existence, that I neglect my talents.</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <div><span class="text-white">Caption</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span class="text-white text-xs">Picture about somethign</span>
              </div>
            </div>
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <div><span class="text-white">Code</span></div>
              <div class="col-span-2 lg:col-span-3">
                <code class="font-mono text-white prose"
                  >tailwind.config.js</code
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <div><span class="text-white">List</span></div>
              <div class="col-span-2 lg:col-span-3">
                <ul
                  class="text-gray list-inside space-y-3 list-disc mt-6"
                  role="list">
                  <ul
                    class="text-gray list-inside space-y-3 font-normal list-none mt-3"
                    role="list">
                    <li>Access to premium posts</li>
                    <li>Weekly newsletters</li>
                    <li>Simple, secure card payment</li>
                    <li>No Advertising</li>
                    <li>Special discounts</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:mt-32 mt-12 w-full">
      <div>
        <p class="text-gray">
          <span class="text-xl text-white">Main color palette</span>
        </p>
      </div>
      <div>
        <div class="grid gird-cols-1 md:grid-cols-3 gap-2 py-3 mt-12">
          <div class="p-6 rounded-lg bg-lightgray"></div>
          <div class="p-6 rounded-lg bg-gray"></div>
          <div class="p-6 rounded-lg bg-grayer"></div>
          <div class="p-6 rounded-lg bg-grayest"></div>
          <div class="p-6 rounded-lg bg-darker"></div>
          <div class="p-6 rounded-lg bg-darkest border border-darker"></div>
        </div>
      </div>
    </div>
  </div>
</section>
