<section
  class="relative flex items-center w-full  bg-white"
>
  <div class="relative items-center w-full mx-auto 2xl:max-w-7xl border-b-2 border-black 2xl:border-x-2">
    <div class="relative items-center h-full">
      <div class="grid grid-cols-1 lg:grid-cols-3 lg:divide-x-2 divide-black">
        <div class="text-center lg:text-left p-8 lg:p-20 bg-lila-500">
          <div>
            <p
              class="text-3xl lg:text-9xl tracking-tight font-medium text-black      "
            >
              FAQ
            </p>
            <p class="text-xl tracking-wide  mt-4 text-black max-w-xs">
              Answers to commonly asked questions about our platform
            </p>
          </div>
        </div>
        <div
          x-data="{
      activeAccordion: '',
      setActiveAccordion(id) {
      this.activeAccordion = (this.activeAccordion == id) ? '' : id
      }
      }"
          class="relative w-full mx-auto lg:col-span-2 text-xl font-medium divide-y-2 divide-black"
        >
        <div
        x-data="{ id: $id('accordion') }"
        :class="{ 'text-black': activeAccordion==id, '  hover:text-lila-900 duration-300': activeAccordion!=id }"
        class="cursor-pointer group text-black       hover:text-lila-900 duration-300"
      >
        <button
          @click="setActiveAccordion(id)"
          class="flex items-center justify-between w-full p-8 text-left select-none"
        >
          <span
            >Why Bloom and not Wix, GoDaddy, Shopify, Wordpress or Squarespace?</span
          >
          <div
            class="h-8 w-8 border-2 border-black inline-flex items-center justify-center rounded-full shadow-tiny shadow-black group-hover:bg-lila-500 group-hover:text-black"
          >
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path>
            </svg>
          </div>
        </button>
        <div
          x-show="activeAccordion==id"
          x-collapse=""
          style="display: none;"
        >
          <div
            class="p-8 pt-0 text-slate-600 font-sans text-lg max-w-3xl font-normal"
          >
          Choosing Bloom is like picking a top-notch garden where your business or personal brand can grow. If you're wondering why Bloom might be a better fit for you than services like Wix, GoDaddy, Squarespace, or WordPress, it’s because we've tailored our platform to be as user-friendly as a simple word processor. Whether you’re a solopreneur, business owner, creative, (or all three as many of use are), our drag-and-drop Bloom Blocks make designing a website as easy as creating a document. Our beautiful, ready-made templates take the hassle out of design, allowing you to focus on what really matters — your content. Plus, with out-of-the-box SEO tools, your site is primed to be found on Google from day one. And yes, we mesh perfectly with your favorite email providers, so managing your communication is a breeze. Bloom is the go-to for creators who want a gorgeous website without the tech overwhelm.          </div>
        </div>
      </div>
        <div
        x-data="{ id: $id('accordion') }"
        :class="{ 'text-black': activeAccordion==id, '  hover:text-lila-900 duration-300': activeAccordion!=id }"
        class="cursor-pointer group text-black       hover:text-lila-900 duration-300"
      >
        <button
          @click="setActiveAccordion(id)"
          class="flex items-center justify-between w-full p-8 text-left select-none"
        >
          <span
            >Can I make Bloom’s designs match my unique style and brand?</span
          >
          <div
            class="h-8 w-8 border-2 border-black inline-flex items-center justify-center rounded-full shadow-tiny shadow-black group-hover:bg-lila-500 group-hover:text-black"
          >
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path>
            </svg>
          </div>
        </button>
        <div
          x-show="activeAccordion==id"
          x-collapse=""
          style="display: none;"
        >
          <div
            class="p-8 pt-0 text-slate-600 font-sans text-lg max-w-3xl font-normal"
          >
           Yes, you can change colors and fonts in Bloom’s designs to make your website look exactly how you want.
          </div>
        </div>
      </div>
      <div
      x-data="{ id: $id('accordion') }"
      :class="{ 'text-black': activeAccordion==id, '  hover:text-lila-900 duration-300': activeAccordion!=id }"
      class="cursor-pointer group text-black       hover:text-lila-900 duration-300"
    >
      <button
        @click="setActiveAccordion(id)"
        class="flex items-center justify-between w-full p-8 text-left select-none"
      >
        <span
          >Can I use Gmail, Outlook, or other email providers with Bloom?</span
        >
        <div
          class="h-8 w-8 border-2 border-black inline-flex items-center justify-center rounded-full shadow-tiny shadow-black group-hover:bg-lila-500 group-hover:text-black"
        >
          <svg
            class="w-5 h-5 duration-300 ease-out text-accent-500"
            :class="{ '-rotate-[45deg]': activeAccordion==id }"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v12m6-6H6"></path>
          </svg>
        </div>
      </button>
      <div
        x-show="activeAccordion==id"
        x-collapse=""
        style="display: none;"
      >
        <div
          class="p-8 pt-0 text-slate-600 font-sans text-lg max-w-3xl font-normal"
        >
         Yes, you can use Gmail, Outlook, or any email provider you want to send emails or newsletters from Bloom! You can also choose to send from your own custom email like, myname@mycompany.com. Regardless of which you choose, any replies will be sent to your existing inbox.
        </div>
      </div>
    </div>
          <div
            x-data="{ id: $id('accordion') }"
            :class="{ 'text-black': activeAccordion==id, '  hover:text-lila-900 duration-300': activeAccordion!=id }"
            class="cursor-pointer group text-black       hover:text-lila-900 duration-300"
          >
            <button
              @click="setActiveAccordion(id)"
              class="flex items-center justify-between w-full p-8 text-left select-none"
            >
              <span>Can I create and send newsletters with Bloom?</span>
              <div
                class="h-8 w-8 border-2 border-black inline-flex items-center justify-center rounded-full shadow-tiny shadow-black group-hover:bg-lila-500 group-hover:text-black"
              >
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-500"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
              </div>
            </button>
            <div
              x-show="activeAccordion==id"
              x-collapse=""
              style="display: none;"
            >
              <div
                class="p-8 pt-0 text-slate-600 font-sans text-lg max-w-3xl font-normal"
              >
              You can create professional-looking emails right within Bloom, using beautiful templates to communicate with your audience effectively.
              </div>
            </div>
          </div>
          <div
            x-data="{ id: $id('accordion') }"
            :class="{ 'text-black': activeAccordion==id, '  hover:text-lila-900 duration-300': activeAccordion!=id }"
            class="cursor-pointer group text-black       hover:text-lila-900 duration-300"
          >
            <button
              @click="setActiveAccordion(id)"
              class="flex items-center justify-between w-full p-8 text-left select-none"
            >
              <span
                >What is real-time editing in Bloom?</span
              >
              <div
                class="h-8 w-8 border-2 border-black inline-flex items-center justify-center rounded-full shadow-tiny shadow-black group-hover:bg-lila-500 group-hover:text-black"
              >
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-500"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
              </div>
            </button>
            <div
              x-show="activeAccordion==id"
              x-collapse=""
              style="display: none;"
            >
              <div
                class="p-8 pt-0 text-slate-600 font-sans text-lg max-w-3xl font-normal"
              >
              With Bloom, you can see and tweak your emails and website updates instantly, ensuring they look perfect before anyone else sees them.
              </div>
            </div>
          </div>
          <div
            x-data="{ id: $id('accordion') }"
            :class="{ 'text-black': activeAccordion==id, '  hover:text-lila-900 duration-300': activeAccordion!=id }"
            class="cursor-pointer group text-black       hover:text-lila-900 duration-300"
          >
            <button
              @click="setActiveAccordion(id)"
              class="flex items-center justify-between w-full p-8 text-left select-none"
            >
              <span
                >Can I run my Startup, Non-Profit, or Enterpise Business with Bloom?</span
              >
              <div
                class="h-8 w-8 border-2 border-black inline-flex items-center justify-center rounded-full shadow-tiny shadow-black group-hover:bg-lila-500 group-hover:text-black"
              >
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-500"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
              </div>
            </button>
            <div
              x-show="activeAccordion==id"
              x-collapse=""
              style="display: none;"
            >
              <div
                class="p-8 pt-0 text-slate-600 font-sans text-lg max-w-3xl font-normal"
              >
              Absolutely. Bloom offers a comprehensive suite of tools, all in one place to support and grow any type of business or idea: from hosting your Resume to bringing your Ma & Pa online or running your Enterprise.
              </div>
            </div>
          </div>
          <div
            x-data="{ id: $id('accordion') }"
            :class="{ 'text-black': activeAccordion==id, '  hover:text-lila-900 duration-300': activeAccordion!=id }"
            class="cursor-pointer group text-black       hover:text-lila-900 duration-300"
          >
            <button
              @click="setActiveAccordion(id)"
              class="flex items-center justify-between w-full p-8 text-left select-none"
            >
              <span
                >How can I manage multiple websites with Bloom?</span
              >
              <div
                class="h-8 w-8 border-2 border-black inline-flex items-center justify-center rounded-full shadow-tiny shadow-black group-hover:bg-lila-500 group-hover:text-black"
              >
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-500"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
              </div>
            </button>
            <div
              x-show="activeAccordion==id"
              x-collapse=""
              style="display: none;"
            >
              <div
                class="p-8 pt-0 text-slate-600 font-sans text-lg max-w-3xl font-normal"
              >
              Adding a new website or project with Bloom is a button click. Keep all of your sites managed from one place with Bloom, keeping everything organized without hassle.
              </div>
            </div>
          </div>
          <div
            x-data="{ id: $id('accordion') }"
            :class="{ 'text-black': activeAccordion==id, '  hover:text-lila-900 duration-300': activeAccordion!=id }"
            class="cursor-pointer group text-black       hover:text-lila-900 duration-300"
          >
            <button
              @click="setActiveAccordion(id)"
              class="flex items-center justify-between w-full p-8 text-left select-none"
            >
              <span
                >Is my personal information shared or sold to third parties?</span
              >
              <div
                class="h-8 w-8 border-2 border-black inline-flex items-center justify-center rounded-full shadow-tiny shadow-black group-hover:bg-lila-500 group-hover:text-black"
              >
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-500"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
              </div>
            </button>
            <div
              x-show="activeAccordion==id"
              x-collapse=""
              style="display: none;"
            >
              <div
                class="p-8 pt-0 text-slate-600 font-sans text-lg max-w-3xl font-normal"
              >
                No, we strictly adhere to a privacy-centric approach. Your
                personal information is never shared, sold, or monetized. We
                prioritize your privacy and ensure that your data remains
                confidential and only accessible to you.
              </div>
            </div>
          </div>
          <div
            x-data="{ id: $id('accordion') }"
            :class="{ 'text-black': activeAccordion==id, '  hover:text-lila-900 duration-300': activeAccordion!=id }"
            class="cursor-pointer group text-black       hover:text-lila-900 duration-300"
          >
            <button
              @click="setActiveAccordion(id)"
              class="flex items-center justify-between w-full p-8 text-left select-none"
            >
              <span>Can I use this platform on multiple devices?</span>
              <div
                class="h-8 w-8 border-2 border-black inline-flex items-center justify-center rounded-full shadow-tiny shadow-black group-hover:bg-lila-500 group-hover:text-black"
              >
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-500"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
              </div>
            </button>
            <div
              x-show="activeAccordion==id"
              x-collapse=""
              style="display: none;"
            >
              <div
                class="p-8 pt-0 text-slate-600 font-sans text-lg max-w-3xl font-normal"
              >
                Yes, you can access Bloom on multiple devices by visiting <a href="https://bloomcms.io/" >Bloom</a> allowing you
                to seamlessly communicate and access your files and messages
                from anywhere.
              </div>
            </div>
          </div>
          <div
            x-data="{ id: $id('accordion') }"
            :class="{ 'text-black': activeAccordion==id, '  hover:text-lila-900 duration-300': activeAccordion!=id }"
            class="cursor-pointer group text-black       hover:text-lila-900 duration-300"
          >
            <button
              @click="setActiveAccordion(id)"
              class="flex items-center justify-between w-full p-8 text-left select-none"
            >
              <span
                >Can I upload files and documents?</span
              >
              <div
                class="h-8 w-8 border-2 border-black inline-flex items-center justify-center rounded-full shadow-tiny shadow-black group-hover:bg-lila-500 group-hover:text-black"
              >
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-500"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
              </div>
            </button>
            <div
              x-show="activeAccordion==id"
              x-collapse=""
              style="display: none;"
            >
              <div
                class="p-8 pt-0 text-slate-600 font-sans text-lg max-w-3xl font-normal"
              >
                Absolutely! Bloom provides ample storage space for your files and
                documents. However, there may be storage limitations based on
                the pricing plan you choose. We offer flexible plans to suit
                your needs and provide options to upgrade if you require
                additional storage capacity.
              </div>
            </div>
          </div>
          <div
            x-data="{ id: $id('accordion') }"
            :class="{ 'text-black': activeAccordion==id, '  hover:text-lila-900 duration-300': activeAccordion!=id }"
            class="cursor-pointer group text-black       hover:text-lila-900 duration-300"
          >
            <button
              @click="setActiveAccordion(id)"
              class="flex items-center justify-between w-full p-8 text-left select-none"
            >
              <span>Is it possible to export my data from the platform?</span>
              <div
                class="h-8 w-8 border-2 border-black inline-flex items-center justify-center rounded-full shadow-tiny shadow-black group-hover:bg-lila-500 group-hover:text-black"
              >
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-500"
                  :class="{ '-rotate-[45deg]': activeAccordion==id }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
              </div>
            </button>
            <div
              x-show="activeAccordion==id"
              x-collapse=""
              style="display: none;"
            >
              <div
                class="p-8 pt-0 text-slate-600 font-sans text-lg max-w-3xl font-normal"
              >
                Yes, you can export your data from the platform. We offer export
                features that allow you to download your media, files, and
                documents, ensuring you have a local copy for backup or
                migration purposes. It provides you with greater control and
                flexibility over your data.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
