@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* Full Header */
.app-header__content {
    background-color: #11111a;
}

/* Hide Gradient */
.step-nav::after {
    display: none;
}

/* Hide Gradient */
.app-header__gradient-placeholder {
    display: none;
}

.template-default__wrap {
    background-color: #f5f6fa;
}

.collection-list__wrap {
    background-color: white;
    border-radius: 7;
}

.step-nav {
    color: white;
}

.step-nav:hover {
    color: white;
}

.step-nav span {
    color: grey;
}

.graphic-account {
    display: none;
}

.collection-list__header{
    padding-top: 1em;
} 