---
import EmailSignupForm from '@/components/forms/EmailSignupForm.svelte'
---

<section>
  <div
    class="items-center w-full mx-auto 2xl:max-w-7xl bg-black p-8 lg:p-20 2xl:px-0 2xl:border-x-2 border-black"
  >
    <div class="items-center gap-12 h-full">
      <div class="text-center max-w-3xl mx-auto">
        <img
          class="mx-auto justify-center w-32 h-32 shadow shadow-white rounded-full"
          src="/images/blob1.svg"
          alt=""
        />

        <p
          class="text-3xl lg:text-5xl mt-8 tracking-tight font-medium text-white"
        >
          Launch your dream website in minutes.
        <!-- </p>
            <p class="max-w-lg mx-auto mt-4 lg:text-xl tracking-wide text-white">
          Enjoy using it forever... focus on your content, reach your audience, and enjoy working on your ideas. 
        </p>    -->
        <p
        class="text-3xl lg:text-5xl mt-4 mb-0 tracking-tight font-medium text-white"
      >
        Made by and for 
      </p>
        <p
          class="text-3xl lg:text-5xl mt-0 tracking-tight font-medium text-lila-600"
        >
        founders, solopreneurs, and creatives
        </p>    
          <!-- Email Signup Form -->
          <EmailSignupForm client:load/> 
          <p class="mt-4 text-lg text-gray-400">
           Join our community and be the first to know about our launch. <span class="text-lg lg:text-5lg mt-0 tracking-tight font-medium text-lila-600" >Plus, enjoy an exclusive 5% lifetime launch discount!</span>
         </p>

      </div>
    </div>
  </div>
</section>
