<main         class="relative overflow-hidden">
  <div class="relative w-full">
    <div
      class="animate-marquee whitespace-nowrap gap-4 flex mt-64 lg:mt-96 items-baseline">
      <h1
        class="font-normal tracking-tighter uppercase text-6xl lg:text-14xl pb-12">
        <span class="text-white"> All projects</span>
        <span class="text-gray">All projects</span>
        <span class="text-grayest">All projects</span>
        <span class="text-grayest">All projects</span>
        <span class="text-white"> All projects</span>
        <span class="text-gray">All projects</span>
        <span class="text-grayest">All projects</span>
        <span class="text-grayest">All projects</span>
      </h1>
    </div>
  </div>
</main>
