<section>
  <div
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 px-2 lg:px-8 gap-6">
    <section class="py-3">
      <div class="rounded-3xl overflow-hidden bg-darker h-full">
        <div class="overflow-hidden h-full">
          <div class="p-10 grid content-end">
            <div>
              <div class="flex items-center">
                <img
                  class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20 ring-1 ring-offset-8 ring-offset-darkest ring-grayest"
                  src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt=""
                />
              </div>
              <p
                class="mt-12 text-3xl font-medium tracking-tighter text-white font-display lg:text-5xl">
                Hello, my name is Flaco.

                I'm a freelance digital designer,
                developer and creator currently based in Åland ready push pixels
                for you.
              </p>
            </div>
            <p class="mt-12">
              <a
                aria-label="#"
                class="text-white uppercase lg:text-2xl inline-flex items-center group duration-200 hover:text-gray"
                href="/about"
                >Se all pages
                <span aria-hidden="true" class="ml-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="lg:w-10 lg:h-10 w-6 h-6 group-hover:ml-6 transform duration-200 -ml-3"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line
                      x1="5"
                      y1="12"
                      x2="19"
                      y2="12"
                      class="text-transparent group-hover:text-gray duration-200"
                    ></line>
                    <line
                      x1="15"
                      y1="16"
                      x2="19"
                      y2="12"
                      class="group-hover:text-gray duration-200"></line>
                    <line
                      x1="15"
                      y1="8"
                      x2="19"
                      y2="12"
                      class="group-hover:text-gray duration-200"></line>
                  </svg>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <article class="xl:col-span-2">
      <section class="py-3">
        <div class="rounded-3xl overflow-hidden">
          <div class="">
            <img
              class="xl:aspect-square object-cover"
              alt="#"
              src="https://images.unsplash.com/photo-1596003906949-67221c37965c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
            />
          </div>
        </div>
      </section>
    </article>
  </div>
</section>
