---
import { work } from "../../data/work.json";
---

<main         class="relative overflow-hidden">
  <div class="relative w-full">
    <div class="animate-marquee whitespace-nowrap gap-4 flex items-baseline">
      <h1
        class="font-normal tracking-tighter uppercase text-6xl lg:text-14xl py-12">
        <span class="text-white"> work</span>
        <span class="text-gray">work</span>
        <span class="text-grayest">work</span>
        <span class="text-gray">work</span>
        <span class="text-white"> work</span>
        <span class="text-grayest">work</span>
        <span class="text-gray">work</span>
        <span class="text-grayest">work</span>
      </h1>
    </div>
  </div>
</main>
<section>
  <div class="px-2 lg:px-8 w-full">
    <section class="py-3">
      <div class="rounded-3xl bg-darker h-full">
        <div class="h-full">
          <div
            class="p-10 lg:px-20 justify-between w-full grid grid-cols-1 lg:grid-cols-2">
            <div>
              <p
                class="text-3xl font-medium text-white tracking-tighter font-display">
                Checkout all my work
              </p>
            </div>
            <div class="lg:ml-auto">
              <p>
                <a
                  aria-label="#"
                  class="text-white uppercase lg:text-2xl inline-flex items-center group duration-200 hover:text-gray"
                  href="/all-projects"
                  >projects
                  <span aria-hidden="true" class="ml-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="lg:w-10 lg:h-10 w-6 h-6 group-hover:ml-6 transform duration-200 -ml-3"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <line
                        x1="5"
                        y1="12"
                        x2="19"
                        y2="12"
                        class="text-transparent group-hover:text-gray duration-200"
                      ></line>
                      <line
                        x1="15"
                        y1="16"
                        x2="19"
                        y2="12"
                        class="duration-200 group-hover:text-gray"></line>
                      <line
                        x1="15"
                        y1="8"
                        x2="19"
                        y2="12"
                        class="duration-200 group-hover:text-gray"></line>
                    </svg>
                  </span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<section class="bg-darkest">
  <div>
    {
      work.slice(0, 1).map((template) => (
        <>
          <article>
            <section class="px-2 lg:px-8 py-3 ">
              <div class="rounded-3xl overflow-hidden ">
                <figure class="relative z-20">
                  <div class="relative bg-darker overflow-hidden">
                    <div class="max-w-8xl mx-auto">
                      <div class="flex">
                        <img
                          class="relative lg:h-[75vh] w-full object-center object-cover"
                          src={template.image}
                          alt={template.description}
                        />
                        <div class="absolute w-full bottom-0 bg-gradient-to-t from-darker">
                          <div class="relative max-w-8xl py-6 mx-auto px-4 lg:px-8 flex items-center justify-between gap-6">
                            <dl class="relative flex flex-wrap overflow-hidden">
                              <div>
                                <dt class="text-white uppercase lg:text-2xl">
                                  {template.title}
                                </dt>
                              </div>
                            </dl>
                            <a
                              aria-label="visit project"
                              class="text-white uppercase lg:text-2xl inline-flex items-center group duration-200"
                              href={template.projectUrl}>
                              See project
                              <span aria-hidden="true" class="ml-3">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="lg:w-10 lg:h-10 w-6 h-6 group-hover:ml-6 transform duration-200 -ml-3"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round">
                                  <path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"
                                  />
                                  <line
                                    x1="5"
                                    y1="12"
                                    x2="19"
                                    y2="12"
                                    class="text-transparent group-hover:text-gray  duration-200"
                                  />
                                  <line
                                    x1="15"
                                    y1="16"
                                    x2="19"
                                    y2="12"
                                    class="group-hover:text-gray duration-200 "
                                  />
                                  <line
                                    x1="15"
                                    y1="8"
                                    x2="19"
                                    y2="12"
                                    class="group-hover:text-gray duration-200 "
                                  />
                                </svg>
                              </span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </figure>
              </div>
            </section>
          </article>
        </>
      ))
    }
  </div>
</section>
