<section>
  <div class="px-2 lg:px-8 py-3 w-full">
    <div class="rounded-3xl bg-darker h-full p-10 space-y-12 lg:space-y-44">
      <div>
        <div
          class="lg:inline-flex space-y-3 lg:space-y-0 lg:items-center justify-between w-full">
          <div class="max-w-xs">
            <p class="text-white lg:text-2xl">flaco.</p>
            <p class="text-gray text-sm">
              Designed and built in the Åland Islands by Michael Andreuzza.
            </p>
          </div>
          <div>
            <a
              aria-label="Visit The Verge"
              class="text-white uppercase lg:text-2xl inline-flex items-center group duration-200 hover:text-gray"
              href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/f73c2e0c-7337-413e-92a7-457316b265a3"
              >Buy flaco
              <span aria-hidden="true" class="ml-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="lg:w-10 lg:h-10 w-6 h-6 group-hover:ml-6 transform duration-200 -ml-3"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <line
                    x1="5"
                    y1="12"
                    x2="19"
                    y2="12"
                    class="text-transparent group-hover:text-gray text-gray duration-200"
                  ></line>
                  <line
                    x1="15"
                    y1="16"
                    x2="19"
                    y2="12"
                    class="group-hover:text-gray text-gray duration-200"></line>
                  <line
                    x1="15"
                    y1="8"
                    x2="19"
                    y2="12"
                    class="group-hover:text-gray text-gray duration-200"></line>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div>
        <div
          class="lg:inline-flex space-y-3 lg:space-y-0 lg:items-center justify-between w-full">
          <div>
            <nav class="flex flex-col lg:flex-row gap-8">
              <a
                class="text-gray hover:text-white -mx-3 -my-2 delay-150 px-3 py-2 relative rounded-lg text-sm transition-colors"
                href="https://lexingtonthemes.com/license.html"
                ><span class="relative z-10">License</span>
              </a><a
                class="text-gray hover:text-white -mx-3 -my-2 delay-150 px-3 py-2 relative rounded-lg text-sm transition-colors"
                href="https://lexingtonthemes.com/faq.html"
                ><span class="relative z-10">Faq</span>
              </a><a
                class="text-gray hover:text-white -mx-3 -my-2 delay-150 px-3 py-2 relative rounded-lg text-sm transition-colors"
                href="https://lexingtonthemes.com"
                ><span class="relative z-10">Lexington Themes</span>
              </a><a
                class="text-gray hover:text-white -mx-3 -my-2 delay-150 px-3 py-2 relative rounded-lg text-sm transition-colors"
                href="https://twitter.com/Mike_Andreuzza"
                ><span class="relative z-10">Social</span>
              </a>
            </nav>
          </div>
          <div>
            <p class="text-gray text-sm">
              Lexington Themes <span
                >© Copyright 2022 . All rights reserved.</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
